# User Testing Report

User testing was conducted by Alyster Mahoney on October 24, 2013 between the times of 3pm and 4pm with the following participants:

- Caroline Guindon
- Jamie Dean
- Steph Albert

## Tasks

1. View HomePage and test it's screen flexibility. Any issues visible?
2. View city page: Prypiat and Centralia. Any comment related to these pages functionality and visual clarity?
3. On Home Page is navigation clear to locate and understand what it represents? 

---

## Individual Results & Observations

### Caroline Guindon

- Visual Issues noted: footer bar, slow loading images
- Some of the images squish.
- Paragraph and title not aligned
- Navigation clear. 
- Image/name should be link to city page. Links broken.
- Centralia page: footer broken and other cities section have problem in medium and large
- Pripyat: boroken images.

### Jamie Dean

- home: edge of navigation bar issue at large size.
- link should work on entire image and text
- footer problem
- logo link broken
- navigation clear. Add HOME to navigation. Touch of padding on left-aligned text.
- logo suggestion: spooky ghost *ignore
 
### Steph Albert

- separate para. into columns.  
- footer troubles
- image on centralia . white line below
- Set up of Others towns needs work. header is "tight"
- pripyat: first image below text. 
- center nav
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Logo link broken.
- Image links not perfect.
- footer broken
- images stretch: crop and remove height (thomas)

### Serious, Causes Frustration, May Hinder Completion

- some text length too long


### Minor, Annoying, Won’t Hinder Completion

- Some of the images squish.
- some text length too long
- image on centralia . white line below
- Set up of Others towns needs work. header is "tight"
- home: edge of navigation bar issue at large size.
- center nav