---
layout: default
---


<meta name="description" content="Featuring many ghost towns of the world and the disasters that create including Pripyat">

</div>
<div class="grid main">
<div class="unit unit-s-1 unit-m-1 unit-l-1 ">
<h1>Ghost Towns of the World</h1>
<p>Abandoned cities with a dark history. <strong>Ghost towns</strong> are the remainders of a town that has undergone a <strong>tragedy</strong>. It has lost its population to economic failure, natural disasters, human error, lawlessness and war. <strong>Around the world</strong>, they now act as tourist attractions or are simply untouchable.
</div>
</div>


<div class="grid top">
{% for besttowns in site.pages %}
{% if besttowns.category == "besttowns" %}
<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3 best">

<h3>{{besttowns.name}}</h3>
<a href="{{besttowns.site}}"><img src="img/{{besttowns.image}}" class="flex-img" alt="{{besttowns.content | markownify}}"></a>

</div>
{% endif %}
{% endfor %}
</div>

