<!DOCTYPE html>
<html lang=en-ca>
<head>
 <meta charset=utf-8>
 <title>Ghost Towns · Around the World and the Reason why they Exist</title>
 <link href="css/general.css" rel="stylesheet">
 <link href="css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">

<!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Ghost Towns · Around the World and the Reason why they Exist">
	<meta property="og:url" content="http://amahoney.gtihub.io/large-date-website">
	<!--Image size:min 200x200, recommended 1500x1500-->
	<meta property="og:image" content="http://amahoney.ithub.io/large-date-website/img/gtlogo.png">
	<meta property="og:description" content="The Ghost Towns of the World and a bit of the basics on why their tragic histories.">
	<meta property="og:site_name" content="Ghost Towns of the World">


<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Ghost Towns · Around the World and the Reason why they Exist">
	<meta property="twitter:url" content="http://amahoney.gtihub.io/large-date-website">
	<!--Image size:min 120x120, anything bigger wll be scaled down-->
	<meta property="twitter:image" content="http://amahoney.ithub.io/large-date-website/img/gtlogo.png">
	<meta property="twitter:description" content="The Ghost Towns of the World and a bit of the basics on why their tragic histories.">




</head>
<body>

<div class="grid head">
<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3">
<a href="/index.html" rel="home"><img src="img/gtlogo.svg" class="logo" alt="Ghost Towns of the World"></a>
</div>
<div class="unit unit-s-2-3 unit-m-2-3 unit-l-1-3">
<h1>Ghost Towns</h1>
</div>
<div class="unit unit-s-1 unit-m-1 unit-l-1-3">

<div class="search">
<form id="frmSearch" class="search2" method="get" action="default.html" />
<input class="search2" id="txtSearch" type="text" name="serach_bar" size="31" maxlength="255"       
value="" style="left: 396px; top: 153px; width: 293px; height: 23px;" />
<input class="search1" type="submit" name="submition" value="Search" style=" padding-  
bottom:20px; left: 680px; top: 153px; height: 23px" />
<input class="search2" type="hidden" name="sitesearch" value="default.html" /></form>
</div>
</div>
</div>


<div class="grid nav-container">
<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 nav">
<a href=""><h2>Basics</h2></a>
</div>
<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 nav">
<a href=""><h2>World</h2></a>
</div>
<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3 nav">
<a href=""><h2>Tragedy</h2></a>
</div>


{{content}}

<div class="grid">
<div class="unit unit-s-1 unit-m-1 unit-l-1">
<h2>Other towns of intrigue</h2>
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/barkerville.jpg" alt="barkerville" class="flex-img2">
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/deception.jpg" alt="deception island" class="flex-img2">
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/kowloon.jpg" alt="kowloon city" class="flex-img2">
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/hashima.jpg" alt="Hashima" class="flex-img2">
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/epecuen.jpg" alt="epecuen" class="flex-img2">
</div>
<div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6 ">
<img src="img/pripyat.jpg" alt="pripyat" class="flex-img2">
</div>
</div>



<div class="grid">
<div class="unit unit-s-1 unit-m-1 unit-l-1">
<footer>
<a href="http://wikipedia.org" rel="external"><p>Source: Wikipedia.org</p></a>
</footer>
</div>
</div>
</body>
<script type="text/javascript">
    document.getElementById('frmSearch').onsubmit = function() {
        window.location = 'http://www.google.com/search?q=site:yoursitename.com ' + document.getElementById('txtSearch').value;
        return false;
    }
</script>
</html>